@import "../../../../src/variables";

img {
    width: 100%;
}

.ht-hp-img {
    max-height: 25rem;
}

.carousel-div-box {
    background: $black-rgb-50;
}

.black-shadow {
    text-shadow: 2px 2px 5px $primary-color;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: auto;
    padding: 1.25rem 1.25rem 0.6rem 1.25rem;
    width: 70%;
}

.carousel-caption-head {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.carousel-caption-info {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    margin: 0 0 0.6rem;
}

.content-info-icon {
    width: fit-content;
    border: 1px solid $primary-dark;
    padding: 0.625rem;
    border-radius: 50%;
    margin: auto;

    img {
        height: 4.5rem;
        width: 4.5rem;
        padding: 0.5rem;
    }
}

.content-icon-caption {
    font-size: 1rem;
    font-weight: 600;

    +p {
        font-size: 0.8rem;
    }
}

.hp-text-marquee {
    max-width: 100%;
    overflow: hidden;
    letter-spacing: 0.05rem;
    font-size: 0.8rem;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 70s linear infinite;

    i {
        font-size: 0.625rem;
    }
}

.marquee section {
    display: inline-block;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.card-body {
    div {
        display: inline-block;
    }

    i {
        font-size: 2.25rem;
    }

    .c-title-hp {
        font-size: 2.25rem;
        font-weight: 600;
    }

    .c-text-hp {
        vertical-align: middle;
        height: 100%;
        padding-top: 0.5rem;
    }
}