<div>
    <ngb-carousel *ngIf="images" [showNavigationIndicators]="false" [showNavigationArrows]="false">
        <ng-template ngbSlide *ngFor="let item of images">
            <div class="ht-hp-img">
                <img [src]="item" alt="img" />
            </div>
            <div class="carousel-caption carousel-div-box black-shadow pt-0">
                <div class="carousel-caption-head">{{homepgImgTitle}}</div>
                <div class="carousel-caption-info center-justified">{{homepgImgSubtitle}}</div>
                <button class="dark-btn" (click)="openPricing()">Create my future</button>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<div class="hp-text-marquee primary-bg secondary-font">
    <div class="marquee">
        <section *ngFor="let _ of [].constructor(10)">
            <section>
                <i class="fa-solid fa-diamond mt-1"></i>
                <label class="px-5">{{marqueeHpTextArray[0]}}</label>
            </section>
            <section>
                <i class="fa-solid fa-diamond mt-1"></i>
                <label class="px-5">{{marqueeHpTextArray[1]}}</label>
            </section>
        </section>
    </div>
</div>
<div class="container mb-4 mt-4">
    <div class="row center-justified">
        <div class="col-lg-4 col-md-4 col-12" *ngFor="let item of hpIconSection">
            <div class="mb-2 content-info-icon cursor-pointer" (click)="openHelp()">
                <img src="{{imagesPath}}{{item.img}}">
            </div>
            <div class="content-icon-caption text-center">{{item.title}}</div>
            <p>{{item.description}}</p>
        </div>
    </div>
    <div class="text-center">
        <h3 class="mt-3 mb-3">{{startingAt}}</h3>
        <button *ngIf="false" class="dark-btn">{{tryForFree}}</button>
    </div>
</div>
<app-testimonials></app-testimonials>
<app-faqs></app-faqs>