<div>
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide *ngFor="let item of images">
            <div class="mx-ht-300">
                <img [src]="item" alt="img" />
            </div>
            <div class="carousel-caption carousel-div-box black-shadow pt-0 center-justified">
                <div class="carousel-caption-head">{{homepgImgTitle}}</div>
                <div class="carousel-caption-info">{{homepgImgSubtitle}}</div>
                <button class="dark-btn">Create My Future</button>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<div class="container mb-4 mt-4">
    <div class="row center-justified">
        <div class="col-lg-4 col-md-4 col-12" *ngFor="let item of hpIconSection">
            <div><i class="{{item.img}}"></i></div>
            <div class="content-icon-caption">{{item.title}}</div>
            <p>{{item.description}}</p>
        </div>
    </div>
    <div class="text-center">
        <h3 class="mt-3 mb-3">{{startingAt}}</h3>
        <button class="dark-btn">{{tryForFree}}</button>
    </div>
</div>
<app-testimonials></app-testimonials>
<app-faqs></app-faqs>