<div class="modal-header">
    <h4 class="modal-title">Get to know us!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="ngbActiveModal.dismiss()"></button>
</div>
<div class="modal-body justify-text">
    <div>
        Welcome to CVbanade, a leading resume-writing platform dedicated to helping job seekers achieve
        their fundamental <u>#RighttoResume</u>.
    </div>
    <div>At CVbanade, we take pride in delivering personalized services that cater to your unique needs.
        Our industry experts work closely with you to understand your career objectives and highlight
        your skills, experiences, and achievements in a way that stands out to potential employers.
    </div>
    <div>We don't just give you a template and let you do the work, instead we take care of minute
        intricacies, including selecting the template and content that best suits your industry and job
        role.
    </div>
    <div>Our writers are experienced professionals with experience in a wide range of industries. We
        ensure that your resume is not just visually appealing but also is relevant and ATS compliant.
    </div>
    <h3 class="mb-0 mt-3">Vision <h5 class="d-inline-block"><i class="fa-solid fa-eye"></i></h5>
    </h3>
    <div class="col-12 text-center">
        <img src="{{imagesPath}}cvbc-hp-panorma.JPG" alt="img" />
    </div>
    <div class="carousel-caption-info mb-3">
        We believe that everyone deserves to have an expertly crafter resume that showcases their unique talents
        and experiences. Hence, we endeavour to keep our offerings affordable for everyone and take you one step
        closer to your dream.
    </div>
    <div class="modal-footer">
        <button type="button" class="dark-btn" (click)="ngbActiveModal.close()">{{closeLabel}}</button>
    </div>