@import "../../../../src/variables";

.login-options {
    label {
        font-size: 0.875rem;
        letter-spacing: 0.025rem;
        text-decoration: underline;
        color: $primary-color;

        &:hover {
            color: $primary-dark;
            cursor: pointer;
        }
    }

    button {
        width: 12rem;
        background: $secondary-color;
        box-shadow: 0 2px 2px rgb(0 0 0 / 24%), 0 0 2px rgb(0 0 0 / 12%);
        border: none;
        letter-spacing: 0.025rem;
        font-size: 0.875rem;
        font-weight: 600;
        padding: 0.5rem 1.15rem;
        border-radius: 6px;

        &:hover {
            background: $primary-light;
        }
    }

    img {
        margin-bottom: 0.25rem;
    }
}

#eyeIcon {
    min-width: 1.25rem;
}

.btn-close:focus  {
    box-shadow: 0 0 0 0.25rem $primary-rgb-25;
}