@import "../../../../src/variables";

.accordion-button {
    padding: 0.625rem 1.25rem;
    background-color: $primary-color;
    color: $seconday-color;
    font-size: 0.9rem;

    &:not(.collapsed) {
        background-color: $primary-color;
        color: $seconday-color;

        &::after {
            background-image: url("../../../assets/images/dash-lg-white.svg");
        }
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(70, 84, 163, 0.25);
        border-color: $seconday-color;
    }

    &::after {
        background-image: url("../../../assets/images/plus-lg-white.svg");
    }
}

.accordion-item {
    margin-bottom: 0.625rem;
}

.accordion-body {
    padding: 0.5rem 1.25rem;
    font-size: 0.9rem;
}