@import "../../../../src/variables";

@mixin transition($time, $property) {
    -webkit-transition: $time $property ease;
    -ms-transition: $time $property ease;
    transition: $time $property ease;
}

@mixin custom-price() {
    .pricing-card {
        @include transition(0.4s, background-color);
        height: auto;
        background-color: $secondary-color;
        -moz-border-radius: 1.25rem;
        -webkit-border-radius: 1.25rem;
        border-radius: 1.25rem;
        position: relative;
        transition: all .4s;
        box-shadow: rgb(14 30 37 / 12%) 0 0.125rem 0.25rem 0, rgb(14 30 37 / 32%) 0 0.125rem 1rem 0;

        &:hover {
            box-shadow: 0 0.25rem 0.5rem 0 $dark-charcoal;
            transform: scale(1.05);
        }

        .pricing-header {
            position: relative;
            padding: 1.25rem 1.25rem 3.125rem;
            font-weight: 600;
            border-top-left-radius: 1.25rem;
            border-top-right-radius: 1.25rem;
            background-image: linear-gradient(to right, $pastel-blue, #4c73de, #4c6cd0, #4b64c2, #495db5, #5059b2, #5754af, #5d50ab, #704baf, #8444b0, #983ab0, $instagram);

            .price-circle {
                display: block;
            }

            .pricing-subhead {
                display: block;
                text-decoration: line-through;
            }

            .title {
                font-size: 1.5rem;
                margin: 1.5rem 0;
                color: $secondary-color;
            }

            .pricing {
                position: absolute;
                border-radius: 50%;
                width: fit-content;
                margin: auto;
                padding: 1rem 0.6rem;
                background-color: $secondary-color;
                left: 0;
                right: 0;
                top: 60%;
                transition: all .4s;
                background: linear-gradient($secondary-color, $secondary-color) padding-box, linear-gradient(to right, $pastel-blue, #4c73de, #4c6cd0, #4b64c2, #495db5, #5059b2, #5754af, #5d50ab, #704baf, #8444b0, #983ab0, $instagram) border-box;
                border: 0.45rem solid transparent;

                label {
                    font-size: 1.125rem;
                }

                label+span {
                    font-size: 1.75rem;
                }
            }
        }

        .badge-box {
            margin-top: 4rem;
            border: 1px solid $primary-color;
            padding: 0 0.75rem;
            border-radius: 1.5rem;
            overflow: hidden;
            color: $primary-color;
            display: inline-block;
        }

        ul {
            padding: 0;

            li {
                list-style-type: none;
                display: block;
                padding: 0.25rem 0;
                margin: 0;
                border-bottom: 1px solid $white-f2;
                font-size: 0.875rem;
            }
        }

        .popular {
            position: absolute;
            top: 0;
            right: 10%;
            width: auto;
            padding: 0.625rem;
            border-bottom-left-radius: 1.25rem;
            border-bottom-right-radius: 1.25rem;
            background-color: $cherry-red;
            color: $secondary-color;
            font-size: 0.75rem;
            z-index: 1;
            box-shadow: 0 0.25rem 0.5rem 0 $dark-charcoal;
        }

        .gray-color {
            color: $black-rgb-50;
        }

        .green-color {
            color: $pastel-green;
        }
    }
}

.parent {
    @include custom-price();
}

.body-margin {
    margin: 0 2.5rem;
}