@import "../../../../src/variables";

.testimonial-box {
    background-color: $dark-charcoal;
    margin: 1.25rem;
    min-height: 13rem;

    .testimonial-header {
        color: $secondary-color;
    }

    .fa-quote-left {
        font-size: 2.25rem;
        padding: 0.625rem;
        color: $yellow;
    }

    label {
        font-weight: 600;
        font-size: 1.25rem;
    }

    .testimonial-desc {
        color: $primary-light;
        margin: 0.625rem;
        font-size: 0.75rem;
        max-height: 5.625rem;
        overflow-y: auto;
    }

    .testimonial-footer {
        position: sticky;
        top: 100%;

        .fa-star {
            position: relative;
            display: inline-block;
            padding: 0.625rem 0 0.625rem 0.625rem;
            color: $gray;

            .filled {
                color: $yellow;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    scrollbar-color: $dark-charcoal $gray;

    ::-webkit-scrollbar {
        width: 0.25rem;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0.25rem $gray;
        border-radius: 0.5rem;
    }

    ::-webkit-scrollbar-thumb {
        background: $dark-gray;
        border-radius: 0.625rem;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: $dark-gray;
    }

    ::-webkit-scrollbar-track-piece {
        background: $dark-charcoal;
    }
}