<div class="container">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let client of successClients">
            <div class="testimonial-box">
                <div class="testimonial-header">
                    <i class="fa-solid fa-quote-left"></i>
                    <label> {{client.title}}</label>
                </div>
                <div class="center-justified testimonial-desc">{{client.description}}</div>
                <div class="testimonial-footer">
                    <ng-template #t let-fill="fill">
                        <i class="fa-solid fa-star">
                            <i *ngIf="fill > 0" class="fa-solid fa-star filled" [style.width.%]="fill"></i>
                        </i>
                    </ng-template>
                    <ngb-rating [(rate)]="client.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>