@import "../../../../src/variables";

.testimonial-box {
    background-color: $dark-charcoal;
    margin: 1.25rem;
    min-height: 13rem;

    .testimonial-header {
        color: $secondary-color;
    }

    .fa-quote-left {
        font-size: 2.25rem;
        padding: 0.625rem;
        color: $yellow;
    }

    label {
        font-weight: 600;
        font-size: 1.25rem;
    }

    .testimonial-desc {
        color: $primary-light;
        padding: 0.625rem;
        font-size: 0.75rem;
    }

    .testimonial-footer {
        position: sticky;
        top: 100%;

        .fa-star {
            position: relative;
            display: inline-block;
            padding: 0.625rem 0 0.625rem 0.625rem;
            color: $gray;

            .filled {
                color: $yellow;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}