<footer class="bg-dark text-center text-white">
    <div class="container-fluid p-4 pb-0">
        <section class="mb-4">
            <a class="btn text-white btn-floating m-1 fb-bg" href="#!" role="button"><i
                    class="fab fa-facebook-f"></i></a>
            <a class="btn text-white btn-floating m-1 twitter-bg" href="#!" role="button"><i
                    class="fab fa-twitter"></i></a>
            <a class="btn text-white btn-floating m-1 instagram-bg" href="#!" role="button"><i
                    class="fab fa-google"></i></a>
            <a class="btn text-white btn-floating m-1 google-bg" href="#!" role="button"><i
                    class="fab fa-instagram"></i></a>
            <a class="btn text-white btn-floating m-1 linkedin-bg" href="#!" role="button"><i
                    class="fab fa-linkedin-in"></i></a>
            <a class="btn text-white btn-floating m-1 dark-charcoal-bg" href="#!" role="button"><i
                    class="fab fa-github"></i></a>
        </section>
    </div>
    <div class="text-center p-3 dark-charcoal-bg">
        {{copyrightLabel}}
        <a class="text-white" href="{{cvbanadeUrl}}">cvbanade.com</a>
    </div>
</footer>