<footer class="bg-dark text-white">
    <div class="container-fluid p-4 pb-0 justify-text">
        <h5>About CVbanade<sup>TM</sup></h5>
        <div>
            Welcome to CVbanade, a leading resume-writing platform dedicated to helping job seekers achieve
            their fundamental #RighttoResume.
        </div>
        <div>At CVbanade, we take pride in delivering personalized services that cater to your unique needs.
            Our industry experts work closely with you to understand your career objectives and highlight
            your skills, experiences, and achievements in a way that stands out to potential employers.</div>
        <div>We don't just give you a template and let you do the work, instead we take care of minute
            intricacies, including selecting the template and content that best suits your industry and job
            role.</div>
        <div>Our writers are experienced professionals with experience in a wide range of industries. We
            ensure that your resume is not just visually appealing but also is relevant and ATS compliant.</div>
    </div>
    <section class="text-center p-3 dark-charcoal-bg">
        <a class="btn text-white btn-floating m-1 fb-bg" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
        <a class="btn text-white btn-floating m-1 twitter-bg" href="#!" role="button"><i class="fab fa-twitter"></i></a>
        <a class="btn text-white btn-floating m-1 instagram-bg" href="#!" role="button"><i
                class="fab fa-google"></i></a>
        <a class="btn text-white btn-floating m-1 google-bg" href="#!" role="button"><i
                class="fab fa-instagram"></i></a>
        <a class="btn text-white btn-floating m-1 linkedin-bg" href="#!" role="button"><i
                class="fab fa-linkedin-in"></i></a>
        <div><small>
                {{copyrightLabel}}
                <a class="text-white" href="{{cvbanadeUrl}}">cvbanade.com</a>
            </small>
        </div>
    </section>
</footer>