@import "../../../../src/variables";

.fb-bg {
    background-color: $fb;
}

.twitter-bg {
    background-color: $twitter;
}

.instagram-bg {
    background-color: $instagram;
}

.google-bg {
    background-color: $google;
}

.linkedin-bg {
    background-color: $linkedin;
}

.dark-charcoal-bg {
    background-color: $dark-charcoal;
}