$primary-color: #4654A3;
$primary-light: #ecedf5;
$primary-dark: #313a72;
$seconday-color: #ffffff;
$black: black;
$madison: #26394d;
$fb: #3b5998;
$twitter: #55acee;
$google: #dd4b39;
$instagram: #ac2bac;
$linkedin: #0082ca;
$dark-charcoal: #333333;