@import 'bootstrap/scss/bootstrap';
@import '../src/variables';
@import '../src/partials';

body {
    min-height: 100vh;
}

.full-width {
    width: 100%;
}

.primary-bg {
    background-color: $primary-color;
}

.primary-font {
    color: $primary-color;
}

.dark-btn {
    @include btn-ui($secondary-color, $primary-color, $primary-dark);

    &:disabled {
        background: #9098c7;
    }
}

.light-btn {
    @include btn-ui($primary-color, $secondary-color, $primary-light);
}

.justify-text {
    text-align: justify;
}

.cursor-pointer {
    cursor: pointer;
}

.center-justified {
    text-align: justify;
    text-align-last: center;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem $primary-rgb-25;
}

.owl-prev,
.owl-next {
    position: absolute;
    background-color: $dark-charcoal !important;
    margin-top: 0;
    top: 40%;
    transition: .3s all ease;

    i {
        color: $yellow;
    }

    &:hover {
        background-color: $yellow !important;

        i {
            color: $dark-charcoal;
        }
    }
}

.owl-prev {
    left: -0.625rem;
}

.owl-next {
    right: -0.625rem;
}