@import 'bootstrap/scss/bootstrap';
@import '../src/variables';
@import '../src/partials';

.full-width {
    width: 100%;
}

.primary-bg {
    background-color: $primary-color;
}

.primary-font {
    color: $primary-color;
}

.dark-btn {
    @include btn-ui($seconday-color, $primary-color, $primary-dark);
}

.light-btn {
    @include btn-ui($primary-color, $seconday-color, $primary-light);
}

.justify-text {
    text-align: justify;
}

.center-justified {
    text-align: justify;
    text-align-last: center;
}