<div class="modal-header">
    <h4 class="modal-title">We are there for you!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="ngbActiveModal.dismiss()"></button>
</div>
<div class="modal-body center-justified">
    To learn more about our services and how we can help you achieve your career goals, please mail us at
    <u>team@cvbanade.com</u>
</div>
<div class="modal-footer">
    <button type="button" class="dark-btn" (click)="ngbActiveModal.close()">{{closeLabel}}</button>
</div>